body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#board {
    height: 98vh;
    width: 100%;
    background: url('img/sand.png');
}

.moving {
    position: absolute;
    visibility: hidden;
    z-index: 1000;
}

.dead {
    position: absolute;
}

#killCount {
    padding: 2px;
    color: white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1001;
}